<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper" >
    <!--由于application.properties配置文件中，声明了实体类在哪个包下
	所以直接写User就行。
	如果不声明：必须写全 com.example.ssmspringboot.domain.User
	-->
    <select id="findByUsername"  resultType="User">
    <!--<select id="findByUsername"  resultType="com.example.demo.entity.User">-->
        SELECT * FROM user WHERE username = #{username}
    </select>
</mapper>
